.term-card {
  font-family: serif;
  font-size: 20px;
  text-align: center;

  .card-body {
    display: flex;
    align-items: center;
  }

  h1, .large {
    font-size: 28px;
  }

  h1 {
    font-weight: bold;
  }

  .hint {
    margin-top: 2ex;
  }
}
