.flip {
  perspective: 1000px;

  .flipped {
    transform: rotatey(-180deg);
  }

  & > * {
    transform-style: preserve-3d;
    transition: 0.5s;

    .front, .back {
      backface-visibility: hidden ;
    }

    .back {
      position: absolute;
      top: 0;
      transform: rotatey(-180deg);
    }
  }
}
