.flip {
  -webkit-perspective: 800;
  perspective: 800;
}

.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}

.flip .card {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.flip .card .face {
  -webkit-backface-visibility: hidden ;
  backface-visibility: hidden ;
}

.flip .card .back {
  position: absolute;
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}
